<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900" rel="stylesheet">


<!-- Cards Starts -->

<div class="container mt-5">
<h2 class="font-weight-bold"><span class="text-info">Why Ride</span> with SeeWay?</h2>
<small class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
<div class="row">
<div class="col-lg-6 col-md mt-2" *ngFor="let card of cards">
<div class="card border-0 p-3 card-width">
<img class="card-icons bg-light p-2" src="{{card.icons}}" alt="">
<div class="card-body p-0 mt-2">
<h6 class="font-weight-bold">Cab for every pocket</h6>
<small class="text-muted">
Lorem Ipsum is simply dummy text of <br/>
the printing and typesetting industry.
</small>
</div>
</div>
</div>

</div>
</div>

<!-- Cards Ends -->