<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<!-- Playstore Starts -->
<div class="banner" >
<div class="container">
<div class="row p-5">
<div class="col-lg-6 col-md mx-auto mb-5 text-dark">
<h2 class="heading">Get an SeeWay App</h2>
<p class="my-4">
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
</p>
<a target="_blank" href="https://bit.ly/3lCEDE2" type="button" class="btn btn-white bg-white px-4 py-0 mt-2 text-center">
<div class="d-flex">
<i class="fab fa-google-play pr-2 pl-0 fa-2x mt-2"></i>
<div class="d-block">
<small>Download at</small>
<h6>App Store</h6>
</div>
</div>
</a>

<a target="_blank" href="https://bit.ly/3lCEDE2" type="button" class="btn btn-outline-light px-4 py-0 mt-2 ml-lg-2 ml-0 text-center">
<div class="d-flex">
<i class="fab fa-apple pr-2 pl-0 fa-2x mt-2"></i>
<div class="d-block">
<small>Download at</small>
<h6>App Store</h6>
</div>
</div>
</a>
</div>
<div class="col-lg-6 col-md pt-2">
    <!-- <img src="../../assets/images/mobile.png" alt="CoolBrand"> -->
</div>
</div>
</div>
</div>
<!-- Playstore Ends -->